ssh_users: "ansible_user" # set users that allowed SSH access to server (at least ansible_user)
ssh_template_file: sshd_config_ubuntu.j2 # template for hardened sshd_config
lapi_endpoint: http://192.168.1.1:8080 # Local API of Crowdsec bouncer on OPNsense
